{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}{{ car.year }} {{ car.make }} {{ car.model }}{% endblock %}</h1>
{% endblock %}


{% block content %}
<a href="{{ url_for('index') }}">
    <p>Back to index</p>
</a>
<a href="{{ url_for('add_mileage', car_id=car.id) }}">
    <p>Add Mileage</p>
</a>
<table>
    <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Mileage</th>
    </tr>
    {% for job in car.maintenance %}
    <tr>
        <td>{{ job.type.description }}</td>
        <td>{{ job.date.strftime('%Y-%m-%d') }}</td>
        <td>{{ job.mileage }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}